body
{
	background-image:url(/photo/sea.jpg);
}
h1
{
	text-align: center;
	color: orange;
	font-family: Hannotate SC;
}
.header
{

	text-align: center;
}
p
{
	text-align: center;
	font-family: Hannotate SC;
}
#bs-body
{
	width:100%;
	height:100%;
}
#bs-login
{
	width:200px;
	height:200px;
	margin-left: 200px;
	margin-top: 200px;
}