body,html,div,p,h1,h2,h3,h4,h5,ul,li,a,img,span,em,strong,i,b,form,label,input,textarea,table,tr,th,td,select,dl,dt,dd{margin:0;padding:0}
body
{
	color:#525252;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif,Microsoft YaHei,SimSun;
}
input,textarea,a,:focus
{
	outline:none
}
img
{
	border:none;
	vertical-align:top
}
h1
{
	text-align: center;
	color: black;
	font-family: Hannotate SC;
}
.header
{

	text-align: center;
}
p
{
	text-align: center;
	font-family: Hannotate SC;
}
#bs-body
{
	text-align: center;
	width:1349px;
	height:852px;
	background-image: url(../photo/login1.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}
#bs-login
{
	width:300px;
	height:130px;
	text-align: center;
	border-style: solid;
	border-width: thin;
	margin-left: 850px;
	margin-top: 150px;
}
.icon
{
	width: 128px;
	height: 50px;
	margin-left: 15px;
}