body,html,div,p,h1,h2,h3,h4,h5,ul,li,a,img,span,em,strong,i,b,form,label,input,textarea,table,tr,th,td,select,dl,dt,dd{margin:0;padding:0}
body
{
	color:#525252;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif,Microsoft YaHei,SimSun;
}
input,textarea,a,:focus
{
	outline:none
}
img
{
	border:none;
	vertical-align:top
}
h1
{
	text-align: center;
	color: black;
	font-family: Arial;
}
.header
{

	text-align: center;
}
p
{
	text-align: center;
	font-family: Hannotate SC;
}
#bs-body
{
	width:1349px;
	height:630px;
}
#bs-login
{
	margin: 0 auto;
	width: 320px; 
	height: 310px;
	border: 1px solid #dcdedd;
	border-radius: 5px;
}
#login_field
{
	margin: 0 auto;
	width: 20px; 
	height: 10px;
	border: 1px solid #dcdedd;
	border-radius: 5px;
}
.icon
{
	text-align: center;
	margin:0 auto;
	margin-top: 15px;
}
.auth-form-header
{
	margin-top:15px;
	margin-bottom: 15px;
    color: #333;
    text-align: center;
    text-shadow: none;
    background-color: initial;
    border: 0;
}
p.ex1
{
	font: Arial 125%;
}